// base styles

html, body, section[role="main"] {
	height: 100%;
}

body {
	margin: 0;
	background: purple;
}

.terminal {
	padding: 8px;
	height: 100%;
	color: white;
	font-family: monospace;
	font-size: 16px;

	.terminal__output {
		list-style-type: none;
	}

	.terminal__input {
		background: transparent;
		border: 0;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
	}

	.terminal__input::-webkit-input-placeholder {
		color: white;
	}
}